/* general */
.cs-cursor-auto, tr.cs-cursor-auto {
    cursor: auto;
}
.cs-cursor-pointer {
    cursor: pointer;
}
.cs-fx-red-style.cs-sum-inbox {
    background-color: #f65c5c;
}
.cs-fx-red-style.cs-sum-inbox input{
    background-color: rgb(124 39 39 / 55%);
}
.cs-fx-red-style.cs-sum-inbox input:hover {
    background: rgb(124 39 39 / 100%);
}
.cs-sum-inbox ::placeholder {
    color: rgb(255, 255, 255);
    font-size: 14px;
    opacity: 0.5;
  }
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3c3f89;
    border-color: #3c3f89;
}
/* function */
.cs-process-box {
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.cs-funcname {
    color: #fff;
    font-weight: 400;
    padding: 7px 5px 10px 15px;
    font-size: 14px;
    vertical-align: middle;
     word-break: keep-all;
}
.cs-sum-inbox {
    background-color: #9395BD;
    box-shadow: rgb(0 0 0 / 16%) 0 3px 3px;
    padding: 0;
    border-radius: 5px;
    float: left;
}
.cs-sum-inbox .cs-sumin, .cs-sum-inbox span.cs-sumin {
    color: #ffffff;
    vertical-align: middle;
    margin-left: 5px;
}
.cs-sum-inbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: initial;
}
.cs-sum-inbox ul li {
    display: inline-block;
    margin: 0 2px;
    padding: 6px 4px;
}
.cs-sum-inbox ul.dropdown-menu li {
    padding: 0;
    margin: 0;
}
.cs-sum-inbox input {
    font-size: 14px;
    padding: 3px 5px;
    height: 25px;
    border: none;
    width: 130px;
    vertical-align: middle;
    border-radius: 3px;
    background: rgb(39 43 124 / 55%);
    color: #fff;
}
.cs-sum-inbox input:hover {
    background: rgb(39 43 124 / 100%);
}
.cs-sum-inbox input:focus-visible {
    outline: none;
}
.cs-add-button-li {
    margin-left: 5px;
}
.btn-bg {
    height: 100%;
    display: table;
    position: absolute;
    right: 0;
    top: 0;
    background: #3C3F89;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cs-sum-inbox .btn {
    color: #fff !important;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    line-height: 1;
    font-size: 26px;
    height: 39px;
    padding: 3px 10px;
}
.ui-sortable {
	width: 100%;
	margin: 50px auto;
    list-style-type: none; 
    padding: 0; 
}
.ui-sortable li.ui-state-default { 
	margin: 0; 
	height: 45px;
	line-height: 48px;
	font-size: 1.4em; 
	color: #fff;
	outline: 0;
	padding: 0;
	margin: 0;
	text-indent: 15px;
	background: rgb(78,82,91);
	background: -moz-linear-gradient(top,  rgb(78,82,91) 0%, rgb(57,61,68) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(78,82,91)), color-stop(100%,rgb(57,61,68)));
	background: -webkit-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: -o-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: -ms-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	background: linear-gradient(to bottom,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(0,0,0,.5);
	text-shadow: -1px -1px 0px rgba(0,0,0,.5);
	font-size: 1.1em;
	position: relative;
	cursor: pointer;
}
.ui-sortable li.ui-state-default:first-child {
	border-top: 0; 
}
.ui-sortable li.ui-state-default:last-child {
	border-bottom: 0;
}

.ui-sortable-placeholder:hover {
    background: hsl(0deg 0% 100% / 5%);
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.ui-sortable-placeholder input {
    border: 2px dashed #7D7FB0;
    color: #fff;
}
.ui-sortable-placeholder:hover input{
background: rgb(39 43 124 / 100%);
}
.cs-addons-sum-name::before {
    content: "";
}
.ui-sortable li.ui-state-default:after {
	content: "\f0c9";
	display: inline-block;
	font-family: "FontAwesome";
	position: absolute;
	right: 18px;
	top: 9px;
	text-align: center;
	line-height: 35px;
	color: rgba(255,255,255,.2);
	text-shadow: 0px 0px 0px rgba(0,0,0,0);
	cursor: move;
}
.cs-sum-inbox .cs-plus-btn {
    position: relative;
    background: #525596;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 10px;
}
.cs-value-trash-box {
    position: relative;
}
.cs-addons-sum-name .cs-value-trash {
    visibility: hidden;
}
.cs-value-trash {
    font-size: 14px;
    position: absolute;
    top: -36px;
    text-align: center;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 24px;
    background: #dfe1ff;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #3c3f89;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cs-value-trash:after {
    content: "";
    position: absolute;
    left: 34%;
    bottom: -8px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #dfe1ff;
}
.cs-value-trash:hover {
    opacity: 1;
}
.cs-value-sum {
    margin-left: 5px;
    width: 110px !important;
}
.cs-addons-sum-name:hover .cs-value-trash {
    visibility: visible;
}
#description_table_body_id.ui-sortable tr{
    padding: 0px 8px 0px 0;
}
#description_table_body_id.ui-sortable tr .cs-move-tr {
    height: 100%;
    width: 35px;
    background: transparent;
    vertical-align: middle;
    display: inline-block;
}
#description_table_body_id.ui-sortable tr .cs-move-tr i {
    margin: 5px 10px 5px 10px;
    font-size: 16px;
    color: rgb(0 0 0 / 50%);
    float: left;
}
.table-hover tbody tr button#dropdownMenuLink {
    background-color: transparent;
    color: rgb(39 43 124 / 11%);
}
.table-hover tbody tr:hover button#dropdownMenuLink, table.if-inc-table tr:hover .btn, table.if-inc-table tr .btn:focus {
    background-color: transparent;
    color: #272B7C;
}

/* StoreCard  */
#description_table_id thead#cs_description_table_head_id tr {
    background: #272B7C;
    padding: 0;
    border: none;
}
#description_table_id thead#cs_description_table_head_id tr th {
    border: none;
    padding: 0;
}
.cs-table-head-title {
    color: #ffffff;
    padding: 15px 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}
.cs-table-row-setting-btn, .cs-proces-desc-add-to-task-box {
    position: relative;
    height: 50px;
    width: auto;
    padding: 0;
    display: inline-block;
    color: #fff;
    text-align: right
}
.cs-table-row-setting-btn .btn, .cs-proces-desc-add-to-task-box .btn {
    background: rgb(255 255 255 / 21%);
    height: 50px;
    border: none;
    border-radius: 0;
    font-size: 14px;
}
.cs-table-row-setting-btn .btn:focus, .cs-proces-desc-add-to-task-box .btn:focus {
    border:none;
    box-shadow:none !important;
}
.cs-table-row-setting-btn .show>.btn-primary.dropdown-toggle,
.cs-table-row-setting-btn .btn:hover, .cs-proces-desc-add-to-task-box .btn:hover {
    color: #fff;
    background-color: rgb(255 255 255 / 10%);
    border-color: rgb(255 255 255 / 10%);
}
#description_table_body_id input[type=checkbox], #description_table_body_id input[type=radio] {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
.cs-table-row-setting-btn .dropdown-menu {
    border-radius: 0;
}
.cs-table-row-setting-btn .dropdown-menu .divider {
    height: 1px;
    margin: 0 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.cs-table-row-setting-btn .dropdown-menu button {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 7px 12px;
    font-size: 14px;
    width: 100%;
    text-align: left;
}
.cs-table-row-setting-btn .dropdown-menu button:focus {
    border:none;
    box-shadow: none;
    outline:none;
}
.cs-table-row-setting-btn .dropdown-menu button:hover {
    color: #000000;
    text-decoration: none;
    background-color: #f5f5f5;
}
.cs-table-row-setting-btn .dropdown-menu button i {
    color: #525596;
    margin-right: 3px
}
tbody tr button.cs-copy-btn {
    background-color: transparent;
    color: rgb(39 43 124 / 11%);
}
.descriptiontable tr td:nth-child(3) {
    visibility: visible;
}
.descriptiontable tbody input[type=checkbox], .descriptiontable tbody input[type=radio] {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
.descriptiontable tbody tr:first-child{
    padding: 0px 8px 0px 35px;
}
.descriptiontable tbody .add-description {
    height: 35px;
    width: 100%;
    resize: none;
    white-space: pre;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
}
.descriptiontable tbody .add-description, tbody .ifbacklogDescriptionText {
    height: 35px;
    width: 100%;
    resize: none;
    white-space: pre;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
}
tbody .ifbacklogDescriptionText:hover{
    color: #495057;
    background-color: #fff;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(0 123 255 / 25%);
}
.cs-sum-inbox .cs-select-box .bootstrap-select.select-api-box {

}
.cs-sum-inbox .select-api-box .bs-searchbox input.form-control {

}
.cs-sum-inbox .cs-select-box .bootstrap-select .btn, .cs-sum-inbox .select-api-box.bootstrap-select .btn {
    font-size: 14px;
    height: 25px;
    padding: 0 7px;
    line-height: 23px;
    border-radius: 3px;
    background: rgb(39 43 124 / 55%);
}
.cs-sum-inbox .cs-select-btn-box {
    padding: 0px 0px 0px 4px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    margin-right: 0;
}
.cs-sum-inbox .cs-select-btn-box button {
    background: #575b99;
    border: none;
    color: #fff;
    line-height: 38px;
    width: 40px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.cs-sum-inbox .cs-select-btn-box button:hover {
    background: rgb(39 43 124 / 100%);
}
.cs-sum-inbox .cs-select-btn-box button:focus{
    outline: none;
    border: none;
}
.cs-select-box .bootstrap-select .dropdown-menu li a {
    font-size: 14px;
    height: 30px;
    padding: 3px 7px;
}
.cs-select-box .dropdown-item.active, .cs-select-box .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #272b7c;
}
.cs-select-box .bootstrap-select .dropdown-menu li {
 display: block;
}
.cs-select-box .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #272b7c !important;
    outline: none;
}
table.if-inc-table {
    background: #ffffff;
    width: 100%;
}
table.if-inc-table tr {
    
}
table.if-inc-table tr:hover {
    background-color: rgb(0 0 0 / 0%);
}
table.if-inc-table tr td {
    
}
.cs-sum-inbox .ifbacklogDescBox {
    width: 100%;
}
.cs-sum-inbox input.ifbacklogDescText {
    height: 35px;
    width: 100%;
    resize: none;
    white-space: pre;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    color: #000;
}
input.ifbacklogDescText:hover {
    background: rgb(255 255 255);
    color: #000;
}
table.if-inc-table .btn.fn-tr-setting-btn {
    background-color: transparent;
    color: rgb(39 43 124 / 11%) !important;
    font-size: 14px;
    font-weight: 400;
    height: 39px;
    padding: 3px 10px;
}
table.if-inc-table .btn i{
    font-weight: 600;
}
table.if-inc-table .btn-primary:not(:disabled):not(.disabled).active, table.if-inc-table .btn-primary:not(:disabled):not(.disabled):active, table.if-inc-table .show>.btn-primary.dropdown-toggle {
    background-color: transparent;
    border-color: transparent;
    color: #272B7C;
}
table.if-inc-table tr:hover .btn-primary:not(:disabled):not(.disabled):active, table.if-inc-table tr:hover .btn.fn-tr-setting-btn  {
    background-color: transparent;
    border-color: transparent;
    color: #272B7C !important;
}
.cs-if-script-box table tr td .cs-sum-inbox {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border-radius: 5px;
}
.cs-if-script-box table tr td .cs-sum-inbox > div {
    background-color: #9395BD;
    box-shadow: rgb(0 0 0 / 16%) 0 3px 3px;
    padding: 0;
    border-radius: 5px;
    float: left;
}
.if-inc-tbody {
    width: 100%;
    display: block;
}
#description_table_body_id tfoot.if-inc-tbody tr, #description_table_body_id .if-inc-tbody tr {
    padding: 0px 7px 4px 0px;
}
.cs-if-script-box {
    background-color: #F89CBE;
}
.cs-if-script-box input {
    background: rgb(193 95 131 / 55%);
}
.cs-if-script-box input:hover {
    background: rgb(193 95 131 / 100%);
}
.ui-widget-content {
    max-height: 600px;
    overflow: hidden auto;
    z-index: 1000 !important;
    width: 773px;
    display: none;
}
.cs-function-list li.ui-menu-item {
    color: #272b7c;
    padding: 3px 5px;
    border: none;
    background: #ffffff;
}
.cs-function-list li.ui-menu-item:hover, .cs-function-list li.ui-menu-item.ui-state-focus {
    color: #ffffff;
    background: #555898;
    cursor: pointer;
}
.fx-shortcodes-btn {
    position: relative;
    width: 40px;
    height: 30px;
    margin-top: 2px;
}
.fx-shortcodes-btn label {
    display: block;
    height: 100%;
    cursor: pointer;
}
.agile-icon-fx {
    display: block;
    height: 100%;
}
.agile-icon-fx:after{
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    filter: brightness(50%) contrast(30%);
}
.agile-icon-fx:after {
    height: 100%;
    width: 100%;
    background-image: url(../../img/fx.svg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -o-background-size: 100% 70%;
    -webkit-background-size: 100% 70%;
}
.storyCardFunctionInsertBox .modal-header {
    border-bottom-color: #E9E9F1;
    background: #E9E9F1;
    padding: 10px 20px;
    color: #272B7C;
}
.storyCardFunctionInsertBox .close, .storyCardFunctionInsertBox button.close:hover, .storyCardFunctionInsertBox .close span {
    color: #272B7C;
    opacity: 1 !important;
}
.storyCardFunctionInsertBox .ScInserFuncBtn, .storyCardFunctionInsertBox .ScCancellFuncBtn  {
    height: 30px;
    line-height: 10px;
    padding: 5px 15px;
}
.storyCardFunctionInsertBox .ScInserFuncBtn {
    color: #fff;
    background-color: #272B7C;
    border-color: #272B7C;
}
.storyCardFunctionInsertBox .ScCancellFuncBtn {
    background-color: #9395BD;
    border-color: #9395BD;
}
.storyCardFunctionInsertBox .ScCancellFuncBtn:hover {
    color: #fff;
    background-color: #272B7C;
    border-color: #272B7C;
}
.storyCardFunctionInsertBox .sc-insert-func-result {
    border: 1px solid #E9E9F1;
    padding: 15px 10px;
    border-radius: 3px;
}
.storyCardFunctionInsertBox .sc-insert-func-result ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 456px !important;
    height: 100%;
    max-height: 130px;
    position: relative;
    top: 8px !important;
    left: 0 !important;
    border: none;
    display: block !important;
}
.storyCardFunctionInsertBox .sc-insert-func-result ul li {
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.sc-insert-func-result .cs-fc-shortcode li.ui-menu-item.ui-state-focus {
    padding: 0;
    margin: 0;
}
.storyCardFunctionInsertBox .close:focus, .storyCardFunctionInsertBox button.close:focus {
    outline: none;
}
.storyCardFunctionInsertBox .sc-insert-func-result .cs-fc-shortcode li, .sc-insert-func-result .cs-fc-shortcode li.ui-menu-item.ui-state-focus {
    display: block;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    border: none;
} 
.storyCardFunctionInsertBox .sc-insert-func-result li a, .sc-insert-func-result .cs-fc-shortcode li.ui-menu-item.ui-state-focus a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: #272B7C;
    padding: 2px 5px;
    cursor:pointer;
} 
.storyCardFunctionInsertBox .sc-insert-func-result .cs-fc-shortcode li:hover, .storyCardFunctionInsertBox .sc-insert-func-result li a:hover, .sc-insert-func-result .cs-fc-shortcode li.ui-menu-item.ui-state-focus a {
    background: #525596;
    color: #ffffff !important;
} 
.storyCardFunctionInsertBox .sc-insert-func-help {
    font-size: 13px;
    color: #272B7C;
    line-height: normal;
    margin-top: 30px;
}
.sc-insert-func-result .insert-funct-input {
    width: 100%;
    border: 1px solid #e9e9f1;
    border-radius: 3px;
    padding: 8px 9px;
    font-size: 14px;
}
.sc-insert-func-result .insert-funct-input:focus {
    box-shadow: 0 0 0 1px rgb(20 22 62 / 26%);
    outline: none;
}

/* cheweeek>>>>>>>>>>>>>>>> Revan */
.cs-flex-align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cs-gray-bg {
    background: #F3F3F3;
}
.cs-dark-gray-color{
    color: #9B9B9B;
}
.cs-dark-blue-bg {
    background: #163656;
}
.cs-dark-blue-color {
    color: #163656;
}
.cs-white-bg {
    background: #ffffff;
}
.cs-staturs-circle-note {
     width: 20px !important;
     height: 20px !important;
    background: #9ED2F6;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;  
}
.cs-task-item-box .stat-table-us{
    
}
.cs-staturs-circle-note.new{
background-color:#f0f07a80 ;
}
.cs-staturs-circle-note.closed{
background-color:#39b656a8 ;
}
.cs-staturs-circle-note.ongoing{
background-color:#ad863ead ;
}
.cs-staturs-circle-note.canceled{
background-color:#5e9de0d3 ;
color: yellow;
}
.cs-staturs-circle-note.defected{
background-color:#dc3545 ;
color: black;
}
.cs-staturs-circle-note.waiting{
background-color:#45adbda6 ;
color: white;
}
.cs-staturs-circle-note.rejected{
background-color:#6c757d ;
color: orange;
}
.cs-staturs-circle-note.tesdiqlenib{
background-color:#376e37 ;
color: white;
}
.cs-staturs-circle-note.tamamlanib{
background-color:#007bff ;
color: white;
}
.cs-filter-col {
    margin-right: 15px;
    margin-bottom: 0;
    width: 210px;
}
.cs-filter-col:last-child {
    margin-right: 0;
}

div > [class*='cs-svg-icon-'] {
    width: auto;
    height: 20px;
}
.dropdown-item {
    padding: 10px 10px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #163656;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
    outline-offset: 0;
}
.cs-task-boxes .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  .cs-task-boxes .form-group label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    top: initial;
  }

  .cs-task-boxes .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #CECECE;
    border-radius: 3px;
    box-shadow: none;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0px;
    height: 14px;
    width: 14px;
  }
  .cs-task-boxes .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 5px;
    height: 8px;
    border: solid #163656;
    border-width: 0 2px 2px 0;
    transform: rotate( 
45deg);
  }
/* switch on off stat */
.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 16px;
    float: right;
    right: 96px;
}
.switch h3{
    margin-left: -100px;
    margin-top: 0px;
    font-size: 10px;
    font-weight: 600;
    color: #727d91;
}
.history_show-hide h3{
    pointer-events: none;
    margin-left: 45px; 
    width: 100px; 
    color:rgb(23, 43, 77);
}
.prototype-cls h3{
    pointer-events: none;
    margin-left: 46px; 
    width:100px;
    color: rgb(23, 43, 77);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.switch input:focus { 
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #163656;
}

input:focus + .slider {
    box-shadow: none;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(23px);
}
.change_history_hide{
    display: none;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.hideme{
    display: none;
}
/* protoype on off */
.col-4 .pro{
    display:none;
}
.table-hide-show{

    box-shadow: 0px 20px 20px #d4d4d4;
}
.proporty{
    margin-top: 0px;
    right: 0px;
}
.proporty p{
    margin-left: -107px;
    margin-top: 0px;
    font-size: 11px;
    width: 100px;
}
/* add input on off */
.input-on-off{
    right: 0px;
    margin-top:0px;
    z-index: 100;

}
.input-on-off p{
    margin-left: 39px;
    margin-top: 0px;
    font-size: 11px;
}
/* switch on off end */
.table-odd-style tr:hover{
    background-color: #d5d6da !important;
}
.user-menu{
    margin-left: 86px !important;

}

.table-odd-style tr:nth-child(odd) {
    background: #eeeeee}
.points-btn{
    margin-top: -26px;

}
.span-button-div .points-btn{
    color: #ffffff;
}
.span-button-div:hover .points-btn{
    background-color: #d5d6da;
    margin-top: -24px; 
    color: black;
}
.description-style:hover .pointes{
    background-color: #eeeeee; 
}
/* #filter section */
.cs-taskManagement-filter-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.cs-taskManagement-filter-box .bootstrap-select>.dropdown-toggle {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #163656;
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.cs-taskManagement-filter-box .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #163656;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.cs-taskManagement-filter-box {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}
.cs-taskManagement-filter-box .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #163656;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cs-taskManagement-filter-box .cs-search .form-control {
    padding-left: 2.375rem; 
}
.cs-taskManagement-filter-box .cs-search .form-control::placeholder {
    opacity: 0.45;
}

.cs-taskManagement-filter-box .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.dropdown-toggle::after {
    font-family: "Font Awesome 5 Pro";
    font-size: 12px;
    display: inline-block;
    content: '\f078';
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-right: 2px;
    margin-left: 10px;
}
.dropup .dropdown-toggle::after {
    font-family: "Font Awesome 5 Pro";
    font-size: 12px;
    display: inline-block;
    content: '\f077';
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-right: 2px;
    margin-left: 10px;
}
.filter-layaout-box img.cs-svg-icon-layout {
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    height: 27px;
    margin: 0 10px;    
}
.right-radius-5px {
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}
/* task card section */
.cs-task-cart-head {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.cs-task-main {
    margin-left: 30px;
    margin-right: 23px;
}
.cs-task-panel-column {
    display: flex;
    overflow: auto;
    margin: auto;
}
.cs-task-col {
    min-width: 350px;
    max-width: 350px;
    margin-right: 30px;
    height: 80vh;
    overflow-y: hidden;
}
.cs-task-col .stat-div-task-content{

    margin-top: 15px;
    overflow: auto;
}
.cs-task-col .stat-div-task-content td{
    font-size: 13px;
}
.cs-task-col:last-child {
    margin-right: 0;
}
.cs-task-boxes {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.cs-task-status-header {
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cs-task-status-header .cs-card-size {
    font-size: 14px;
    vertical-align: middle;
}
.cs-task-status-header .cs-card-size span:first-child {
    font-size: 16px;
}
.cs-task-status-header h4.cs-status-box-name, .cs-task-status-header .cs-status-box-name {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
}
.cs-task-status-header .cs-card-fullview {
    text-align: right;
    vertical-align: middle;
    font-size: 16px;
    display: inline-block;
    float: right;
}
.cs-task-status-header .cs-card-fullview a {
    color: #9b9b9b;
}
.cs-task-status-header .cs-card-fullview a:hover {
    color: #163656;
}
.cs-task-status-header .cs-card-fullview i {

}
.cs-task-item-box {
    padding-top: 0 !important;
    height: 70vh;
    overflow-y: auto;
}
.cs-task-item-box-bg {
    padding: 15px;
    padding-bottom: 9px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cs-task-card-attachfile input[type="file"] {
    display: none;
}
label.cs-file-upload {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.cs-file-upload {
    border: none;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    margin: 0;
    color: #CECECE;
    font-size: 14px;
}
label.cs-file-upload:hover {
    color: #163656;
}
.cs-card-ceckbox.switch{
    position: relative;
    display: inline-block;
    height: 14px;
    width: 26px;
    left: 2px;
    bottom: 1px;
    right: 0;
    margin-bottom: 0;
}
.cs-card-ceckbox .slider:before{
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
}
.cs-card-ceckbox .slider {
    background-color: #EEEEEE;
}
.cs-card-ceckbox .slider:before {
    background-color: #CECECE;
}
.cs-card-ceckbox input:checked + .slider:before {
    background-color: #ffffff;
}
.cs-card-ceckbox input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}
.cs-cart-head-col {
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #EEEEEE;
}
.cs-cart-head-col:last-child {
    border: none;
    margin-right: 0;
    padding-right: 0;
}
.cs-cart-head-title {
    font-size: 13px;
    font-weight: bold;
}
.cs-task-card-attachfile {
    display: inline-block;
    margin-right: 3px;
    padding-right: 5px;
    border-right: 1px solid #EEEEEE;
}
.cs-task-item-in-box {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
}
.cs-task-card-body {
    padding-bottom: 20px;
}
.cs-task-card-body .cs-task-card-desc {
    color: #737373;
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
}
.cs-task-card-prioritet, .cs-task-card-avatar-boxes {
 display: inline-block;
}
.cs-task-card-prioritet {
    margin-right: 4px;
}
.cs-task-card-prioritet .dropdown-toggle::after {
    color: #989898;
}
.cs-task-card-prioritet .dropdown-menu {
    padding-top: 0;
    font-size: 13px;
    max-height: 94px !important;
    min-height: 94px !important;
}
.cs-task-card-prioritet .dropdown-item {
    padding: 4px 6px;
}
.cs-task-card-prioritet .dropdown-item {
    padding: 4px 6px;
}
.cs-task-card-prioritet .dropdown-menu li:first-child .dropdown-item {
    padding-top: 7px;
}
.cs-task-card-prioritet .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}
.cs-task-card-prioritet .btn-light:not(:disabled):not(.disabled).active, .cs-task-card-prioritet .btn-light:not(:disabled):not(.disabled):active, .cs-task-card-prioritet .show>.btn-light.dropdown-toggle {
    color: #163656;
    background-color: #EEEEEE;
    border-color: transparent;
    box-shadow: none;
}
.cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder, .cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #163656;
}
.cs-task-card-prioritet .btn {
    color: #163656 !important;
    background-color: #EEEEEE;
    border-color: transparent;
    font-size: 13px;
    padding: 2px 5px;
    width: 100%;
    min-width: 100px;
    max-width: 120px;
}
.cs-task-card-prioritet .btn:hover {
    background-color: #f3f3f3;
}
.cs-task-card-prioritet .btn.focus, .cs-task-card-prioritet .btn:focus, .cs-task-card-prioritet .btn:active {
    box-shadow: none;
}
.cs-task-card-datatime {
    color: #CECECE;
}
.cs-task-card-datatime span {
    color: #163656;
}
.cs-task-card-avatar-boxes ul {
    text-transform: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cs-task-card-avatar-boxes ul li {
    display: inline-block;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 1px;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img.updated {
    box-shadow: 0px 0px 0px 2px #da3838 inset;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img.created {
    box-shadow: 0px 0px 0px 2px #6bb5f0 inset;
}
.maximize-large{
    min-width: 100%;
}
.maximize-large .cs-task-item-in-box{
    max-width: 24.3%;
    min-width: 24.3%;
    margin-right: 8px;
}
.maximize-large .cs-task-item-box-bg {
    display: flex;
    flex-wrap: wrap;

}
#taskModalBlock .stat-table-us td{
  width: 200px;
}
.cs-taskManagement-filter-box .cs-card-ceckbox .slider {
    background-color: #9b9b9b;
}
.cs-taskManagement-filter-box .cs-card-ceckbox .slider:before {
    background-color: #f3f3f3;
}
.cs-taskManagement-filter-box .cs-card-ceckbox input:checked + .slider {
    background-color: #163656;
}
.cs-taskManagement-filter-box .filter-layaout-box #dropdownMenuButton {
    color: #9b9b9b;
}
.cs-taskManagement-filter-box .filter-layaout-box #dropdownMenuButton:hover {
    color: #163656;
}
.cs-taskManagement-filter-box .cs-card-ceckbox.switch {
    margin-top: 5px;
    margin-right: 14px;
}
.cs_date_timepicker_start_end_icon button:hover i {
    color: #163656;
}
.cs-more-filter-box {
    margin-top: 7px;
}
.cs-taskManagement-filter-box .cs-more-filter, .cs-more-filter {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    color: #163656;
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 33px;
}
.cs-more-filter:hover, .cs-more-filter:focus, .cs-more-filter:active {
    color: #999;
}
.cs-more-filter-box {
    display: none !important;
}
.cs-more-filter-box.show {
    display: -ms-flexbox !important;
    display: flex !important;
}