html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
.wrapper {
    width: 500px;
    height: 640px;
    padding: 5px;
    margin: 0 auto;
    background-color: #ddd;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: none;
    padding-top: 200px;
}
.container-group-item.akitvec{
    background: #c2dcf3 !important;
}
.container-group-item .count-message{
    border-radius: 50%;
    padding: 1px 4px;
    background: #e20505;
    color: #fff !important;
    width: 20px;
    height: 20px;
    text-align: center;
    display: none;
}
#nickWrapper {
    display: none;
}
.banner {
    height: 80px;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}

#historyMsg img {
    max-width: 100%;
}

#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/
#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}
footer {
    text-align: center;
}


.group-name-update{

    border: none;
    background: none;
    font-weight: bold;
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
#preloader3 {
    opacity: 1;
    background-size: 70% !important;
    background-repeat: no-repeat !important;
    background-color: #fbfbfb !important;
    background-position-x: 43% !important;
    background-position-y: 0.5% !important;
    background-image: url(https://app.sourcedagile.com/api/get/files/Comp-1_77E581B5224B6.gif) !important;
}
.banner-loader{
    width: 100%;
    position: absolute;
    height: 100%;
    background: #d1d8d8;
    z-index: 1000;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;

}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}

.vac-col-messages .vac-icon-textarea, .vac-col-messages .vac-icon-textarea-left {
    display: flex;
    align-items: center;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-wrapper, .vac-col-messages .vac-icon-textarea-left svg, .vac-col-messages .vac-icon-textarea .vac-wrapper, .vac-col-messages .vac-icon-textarea svg {
    margin: 0 7px;
  }
  .vac-col-messages .vac-icon-textarea {
    margin-left: 5px;
  }
  .vac-col-messages .vac-icon-textarea-left {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-wrapper, .vac-col-messages .vac-icon-textarea-left svg {
    margin: 0 7px;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-icon-microphone {
    fill: #1976d2;
    margin: 0 7px;
  }
  #vac-icon-emoji {
    fill: #1976d2;
}
  #vac-icon-paperclip{
    fill: #1976d2;
}
  #vac-icon-send path{
    fill: #1976d2;
}
.vac-textarea-hl {
    border-radius: 25px;
    resize: none;
    font-size: 16px !important;
}
  .vac-col-messages .vac-icon-textarea-left .vac-dot-audio-record {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #eb4034;
    -webkit-animation: vac-scaling .8s ease-in-out infinite alternate;
    animation: vac-scaling .8s ease-in-out infinite alternate;
  }
  @-webkit-keyframes vac-scaling {
    0% {
    transform: scale(1);
    opacity: .4;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
  }@keyframes vac-scaling {
    0% {
    transform: scale(1);
    opacity: .4;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
  }.vac-col-messages .vac-icon-textarea-left .vac-dot-audio-record-time {
    font-size: 16px;
    color: var(--chat-color);
    margin-left: 8px;
    width: 45px;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-confirm, .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-confirm svg, .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-stop, .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-stop svg {
    min-height: 28px;
    min-width: 28px;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-stop {
    margin-right: 20px;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-stop #vac-icon-close-outline {
    fill: #eb4034;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-confirm {
    margin-right: 3px;
    margin-left: 12px;
  }
  .vac-col-messages .vac-icon-textarea-left .vac-icon-audio-confirm #vac-icon-checkmark {
    fill: #1ba65b;
  }

  .vac-svg-button:hover {
    transform: scale(1.1);
    opacity: .7;
  }
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}




