.border_bottom{
    background-color: #173359 !important ;
}
.brend-color{
    color: #173359;
}
.brend-bg{
    background-color: #445c79;
}
.bg-dce3ed {
    background-color: #dce3ed;
}
.bg-e4ecf7 {
    background-color: #e4ecf7;
}
.bg-fff {
    background-color: #fff;
}
.tranform-rotate{
    transform: rotate(-90deg);
    font-size: 16px;
}
.modal-header{
    background-color: #173359 !important;
    padding: 5px !important;
    height: 35px;
}
.bg-shadow-3 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
.modal-header .modal-title, .modal-header .close{
    color: #fff !important;  
    opacity: 1 !important;
}
.modal-header .close{
    padding: 12px 20px !important;
}
/* status color */
.bg-status-new{
   background-color: #fbf8d5;
}
.bg-status-ongoing{
   background-color: #fee6cc;
}
.bg-status-waiting{
   background-color: #f9cdd2;
}
.bg-status-closed{
    background-color: #cdead0;
  
}
.bg-status-rejected{
   background-color: #d0b79e;
}
.bg-status-canceled{
   background-color: #a7c6d7;
}
.bg-status-defected{
   background-color: #d0d9ea;
}
.bg-status-tesdiqlenib{
   background-color: #dce2ee;
}
.bg-status-tamamlanib{
    background-color: #a8dff4;
}


/* cheweeek>>>>>>>>>>>>>>>> Revan */
.cs-flex-align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cs-gray-bg {
    background: #e4ecf7;
}
.cs-dark-gray-color{
    color: #173359;
}
.cs-dark-blue-bg {
    background: #173359;
}
.cs-dark-blue-color {
    color: #173359;
}
.cs-white-bg {
    background: #ffffff;
}
.cs-staturs-circle-note {
     width: 20px !important;
     height: 20px !important;
    background: #9ED2F6;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;  
}
.cs-task-item-box .stat-table-us{
    
}
.cs-staturs-circle-note.new{
background-color:#f0f07a80 ;
}
.cs-staturs-circle-note.closed{
background-color:#39b656a8 ;
}
.cs-staturs-circle-note.ongoing{
background-color:#ad863ead ;
}
.cs-staturs-circle-note.canceled{
background-color:#5e9de0d3 ;
color: yellow;
}
.cs-staturs-circle-note.defected{
background-color:#dc3545 ;
color: black;
}
.cs-staturs-circle-note.waiting{
background-color:#45adbda6 ;
color: white;
}
.cs-staturs-circle-note.rejected{
background-color:#6c757d ;
color: orange;
}
.cs-staturs-circle-note.tesdiqlenib{
background-color:#376e37 ;
color: white;
}
.cs-staturs-circle-note.tamamlanib{
background-color:#007bff ;
color: white;
}
.cs-filter-col {
    margin-right: 15px;
    margin-bottom: 0;
    width: 200px;
    align-self: center;
}
.cs-filter-col:last-child {
    margin-right: 0;
}

div > [class*='cs-svg-icon-'] {
    width: auto;
    height: 20px;
}
.dropdown-item {
    padding: 10px 10px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #163656;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
    outline-offset: 0;
}
.cs-task-boxes .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  .cs-task-boxes .form-group label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    top: initial;
  }

  .cs-task-boxes .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #CECECE;
    border-radius: 3px;
    box-shadow: none;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0px;
    height: 14px;
    width: 14px;
  }
  .cs-task-boxes .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 5px;
    height: 8px;
    border: solid #163656;
    border-width: 0 2px 2px 0;
    transform: rotate( 
45deg);
  }
/* switch on off stat */
.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 16px;
    float: right;
    right: 96px;
}
.switch h3{
    margin-left: -100px;
    margin-top: 0px;
    font-size: 10px;
    font-weight: 600;
    color: #727d91;
}
.history_show-hide h3{
    pointer-events: none;
    margin-left: 45px; 
    width: 100px; 
    color:rgb(23, 43, 77);
}
.prototype-cls h3{
    pointer-events: none;
    margin-left: 46px; 
    width:100px;
    color: rgb(23, 43, 77);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.switch input:focus { 
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #163656;
}

input:focus + .slider {
    box-shadow: none;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(23px);
}
.change_history_hide{
    display: none;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.hideme{
    display: none;
}
/* protoype on off */
.col-4 .pro{
    display:none;
}
.table-hide-show{

    box-shadow: 0px 20px 20px #d4d4d4;
}
.proporty{
    margin-top: 0px;
    right: 0px;
}
.proporty p{
    margin-left: -107px;
    margin-top: 0px;
    font-size: 11px;
    width: 100px;
}
/* add input on off */
.input-on-off{
    right: 0px;
    margin-top:0px;
    z-index: 100;

}
.input-on-off p{
    margin-left: 39px;
    margin-top: 0px;
    font-size: 11px;
}
/* switch on off end */
.table-odd-style tr:hover{
    background-color: #d5d6da !important;
}
.user-menu{
    margin-left: 86px !important;

}

.table-odd-style tr:nth-child(odd) {
    background: #eeeeee}
.points-btn{
    margin-top: -26px;

}
.span-button-div .points-btn{
    color: #ffffff;
}
.span-button-div:hover .points-btn{
    background-color: #d5d6da;
    margin-top: -24px; 
    color: black;
}
.description-style:hover .pointes{
    background-color: #eeeeee; 
}
/* #filter section */
.cs-taskManagement-filter-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.cs-taskManagement-filter-box .bootstrap-select>.dropdown-toggle {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #163656;
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.cs-taskManagement-filter-box .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #163656;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.cs-taskManagement-filter-box {
  
    border-radius: 5px;
    margin: 10px 10px;
}
.cs-taskManagement-filter-box .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #163656;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cs-taskManagement-filter-box .cs-search .form-control {
    padding-left: 2.375rem; 
}
.cs-taskManagement-filter-box .cs-search .form-control::placeholder {
    opacity: 0.45;
}

.cs-taskManagement-filter-box .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.dropdown-toggle::after {
    font-family: "Font Awesome 5 Pro";
    font-size: 12px;
    display: inline-block;
    content: '\f078';
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-right: 2px;
    margin-left: 10px;
}
.dropup .dropdown-toggle::after {
    font-family: "Font Awesome 5 Pro";
    font-size: 12px;
    display: inline-block;
    content: '\f077';
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-right: 2px;
    margin-left: 10px;
}
.filter-layaout-box img.cs-svg-icon-layout {
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    height: 27px;
    margin: 0 10px;    
}
.right-radius-5px {
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}
/* task card section */
.cs-task-card-bottom{
    border-top: 1px solid #EEEEEE;
    padding-top: 6px;
    margin-top: 6px;
    padding: 5px;
}
.cs-task-main {
    margin-left: 10px;
    margin-right: 5px;
}
.cs-task-panel-column {
    display: flex;
    overflow: auto;
    margin: auto;
}
.cs-task-col {
    min-width: 350px;
    max-width: 350px;
    margin-right: 30px;
    height: 85vh;
    overflow-y: hidden;
}
.cs-task-col .stat-div-task-content{

    margin-top: 15px;
    overflow: auto;
}
.cs-task-col .stat-div-task-content td{
    font-size: 13px;
}
.cs-task-col:last-child {
    margin-right: 0;
}
.cs-task-boxes {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.cs-task-status-header {
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cs-task-status-header .cs-card-size {
    font-size: 14px;
    vertical-align: middle;
}
.cs-task-status-header .cs-card-size span:first-child {
    font-size: 16px;
}
.cs-task-status-header h4.cs-status-box-name, .cs-task-status-header .cs-status-box-name {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
}
.cs-task-status-header .cs-card-fullview {
    text-align: right;
    vertical-align: middle;
    font-size: 16px;
    display: inline-block;
    float: right;
}
.cs-task-status-header .cs-card-fullview a {
    color: #173359;
}
.cs-task-status-header .cs-card-fullview a:hover {
    color: #173359;
}
.cs-task-status-header .cs-card-fullview i {

}
.cs-task-item-box {
    padding: 0 !important;
    height: 70vh;
    overflow-y: auto;
    font: -webkit-mini-control;
}
.cs-task-item-box-bg {
    padding: 15px;
    padding-bottom: 9px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cs-task-card-attachfile input[type="file"] {
    display: none;
}
label.cs-file-upload {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.cs-file-upload {
    border: none;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    margin: 0;
    color: #173359;
    font-size: 14px;
}
label.cs-file-upload:hover {
    color: #163656;
}
.cs-card-ceckbox.switch{
    position: relative;
    display: inline-block;
    height: 14px;
    width: 26px;
    left: 2px;
    bottom: 1px;
    right: 0;
    margin-bottom: 0;
    margin-top: 2px;

}
.cs-card-ceckbox .slider:before{
    height: 12px;
    width: 12px;
    left: 1px;
    bottom: 1px;
}
.cs-card-ceckbox .slider {
    background-color: #e4ecf7;
}
.cs-card-ceckbox .slider:before {
    background-color: #173359;
}
.cs-card-ceckbox input:checked + .slider:before {
    background-color: #e4ecf7;
}
.cs-card-ceckbox input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}
.cs-cart-head-col {
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #EEEEEE;
}
.cs-cart-head-col:last-child {
    border: none;
    margin-right: 0;
    padding-right: 0;
}
.cs-cart-head-title {
    font-size: 13px;
    font-weight: bold;
    position: relative;
}
.cs-task-card-attachfile {
    display: inline-block;
    margin-right: 3px;
    padding-right: 5px;
    border-right: 1px solid #EEEEEE;
}
.cs-task-item-in-box {
    margin-bottom: 8px;
  /*   padding: 8px; */
     overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
}
.cs-task-card-body {
    /* padding-bottom: 20px; */
}
.cs-task-card-body p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
}
.cs-task-card-body .cs-task-card-desc {
    color: #737373;
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
}
.cs-task-card-prioritet, .cs-task-card-avatar-boxes {
 display: inline-block;
}
.cs-task-card-prioritet {
    margin-right: 4px;
}
.cs-task-card-prioritet .dropdown-toggle::after {
    color: #989898;
}
.cs-task-card-prioritet .dropdown-menu {
    padding-top: 0;
    font-size: 13px;
    max-height: 94px !important;
    min-height: 94px !important;
}
.cs-task-card-prioritet .dropdown-item {
    padding: 4px 6px;
}
.cs-task-card-prioritet .dropdown-item {
    padding: 4px 6px;
}
.cs-task-card-prioritet .dropdown-menu li:first-child .dropdown-item {
    padding-top: 7px;
}
.cs-task-card-prioritet .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}
.cs-task-card-prioritet .btn-light:not(:disabled):not(.disabled).active, .cs-task-card-prioritet .btn-light:not(:disabled):not(.disabled):active, .cs-task-card-prioritet .show>.btn-light.dropdown-toggle {
    color: #163656;
    background-color: #EEEEEE;
    border-color: transparent;
    box-shadow: none;
}
.cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder, .cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .cs-task-card-prioritet .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #163656;
}
.cs-task-card-prioritet .btn {
    color: #163656 !important;
    background-color: #EEEEEE;
    border-color: transparent;
    font-size: 13px;
    padding: 2px 5px;
    width: 100%;
    min-width: 100px;
    max-width: 120px;
}
.cs-task-card-prioritet .btn:hover {
    background-color: #f3f3f3;
}
.cs-task-card-prioritet .btn.focus, .cs-task-card-prioritet .btn:focus, .cs-task-card-prioritet .btn:active {
    box-shadow: none;
}
.cs-task-card-datatime {
    color: #173359;
    font-size: 10px;
}
.cs-task-card-datatime span {
    color: #173359;
}
.cs-task-card-avatar-boxes ul {
    text-transform: none;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cs-task-card-avatar-boxes ul li {
    display: inline-block;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 1px;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img.updated {
    box-shadow: 0px 0px 0px 2px #da3838 inset;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img.created {
    box-shadow: 0px 0px 0px 2px #6bb5f0 inset;
}
.maximize-large{
    min-width: 100%;
}
.maximize-large .cs-task-item-in-box{
    max-width: 19.66%;
    min-width: 19.66%;
    margin-right: 5px;

}
.cs-task-item-in-box:hover .large-blok-icon{
     
    visibility: visible;
     
}
.cs-task-item-in-box .large-blok-icon{
     
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
     
}
.maximize-large .cs-task-item-box-bg {
    display: flex;
    flex-wrap: wrap;

}
#taskModalBlock .stat-table-us td{
  width: 200px;
}
.cs-taskManagement-filter-box .cs-card-ceckbox .slider {
    background-color: #9b9b9b;
}
.cs-taskManagement-filter-box .cs-card-ceckbox .slider:before {
    background-color: #f3f3f3;
}
.cs-taskManagement-filter-box .cs-card-ceckbox input:checked + .slider {
    background-color: #163656;
}
.cs-taskManagement-filter-box .filter-layaout-box #dropdownMenuButton {
    color: #9b9b9b;
}
.cs-taskManagement-filter-box .filter-layaout-box #dropdownMenuButton:hover {
    color: #163656;
}
.cs-taskManagement-filter-box .cs-card-ceckbox.switch {
    margin-top: 5px;
    margin-right: 14px;
}
.cs_date_timepicker_start_end_icon button:hover i {
    color: #163656;
}
.cs-more-filter-box {
    margin-top: 7px;
}
.cs-taskManagement-filter-box .cs-more-filter, .cs-more-filter {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    color: #163656;
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 33px;
    align-self: center;
}
.cs-more-filter:hover, .cs-more-filter:focus, .cs-more-filter:active {
    color: #999;
}
.cs-more-filter-box {
    display: none !important;
}
.cs-more-filter-box.show {
    display: -ms-flexbox !important;
    display: flex !important;
}
.cs-modal-box .modal-header {
    font-size: 14px;
    padding: 7px 18px 7px 40px;
    border-bottom-color: #E9E9F1;
    background-color: #E9E9F1;
    color: #272B7C;
    border-radius: 0;
}
.cs-modal-box .close, .cs-modal-box button.close {
    opacity: 1;
    padding: 12px 12px;
    color: #272B7C;
    text-shadow: none;
}
.cs-modal-box button.close:focus {
    outline: none;
    opacity: 1;
}
.cs-modal-box .close span {

}
.cs-input-group {
padding: 0 10px;
}
.cs-flex-center-col {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cs-input-group .btn {
    color: #ffffff;
    background-color: #525596;
    border-color: #525596;
    font-size: 14px;
    height: 30px;
    line-height: 1;
}
.cs-input-group .dropdown-item.active, .cs-input-group .dropdown-item:active {
    background-color: #272B7C;
    border-color: #272B7C;
    color: #fff;
}
.cs-input-group .btn:hover, .cs-modal-box .btn:hover {
    background-color: #272B7C;
    border-color: #272B7C;
    color: #fff;
}
.cs-input-group .btn-light:not(:disabled):not(.disabled).active, .cs-input-group .btn-light:not(:disabled):not(.disabled):active, .cs-input-group .show>.btn-light.dropdown-toggle {
    color: #ffffff;
    background-color: #525596;
    border-color: #525596;
}
.cs-input-group .bootstrap-select > .dropdown-toggle.bs-placeholder, .cs-input-group .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .cs-input-group .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .cs-input-group .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #ffffff;
}
.cs-input-group .dropdown-menu {
    color: #272B7C;
    padding: 7px 0;
    font-size: 14px;
    height: auto;
    line-height: 1;
}
.cs-input-group .dropdown-menu > li a {
    padding: 7px 20px;
    font-size: 14px;
    height: 30px;
    line-height: 1;
}
.cs-input-group .input-group-addon{
    font-size: 14px;
    margin-bottom: 3px;
}
.cs-button-group .dropdown-item.active, .cs-button-group a.dropdown-item:active {
    background-color: #272B7C;
    border-color: #272B7C;
    color: #fff;
}
.cs-button-group .dropdown-item.active:hover, .cs-button-group a.dropdown-item:active:hover {
   color: #fff;
}
.cs-button-group .btn:hover, .cs-button-group button:hover  {
    background-color: #272B7C;
    border-color: #272B7C;
    color: #fff;
}
.cs-button-group .btn-light:not(:disabled):not(.disabled).active, .cs-button-group .btn-light:not(:disabled):not(.disabled):active, .cs-button-group .show>.btn-light.dropdown-toggle, .cs-button-group button {
    color: #ffffff;
    background-color: #525596;
    border-color: #525596;
}
.cs-button-group button {
    font-size: 14px;
    height: 30px;
    line-height: 1;
}
.cs-button-group .dropdown-menu {
    color: #272B7C;
    padding: 0 0;
    font-size: 14px;
    height: auto;
    line-height: 1;
}
.cs-button-group .dropdown-menu > li a, .cs-button-group .dropdown-menu a {
    padding: 7px 20px;
    font-size: 14px;
    height: 30px;
    line-height: 1;
}
.cs-input-flat-group input {
    outline: none;
    box-shadow: none;
    border: 1px solid #525596;
    margin-left: 0px;
    padding: 4px;
    margin-bottom: 5px;
    border-radius: 4px;
    margin-top: 2px;
}
.cs-modal-box .modal-footer .btn {
    font-size: 14px;
    height: 30px;
    line-height: 1;
}
.cs-modal-box .btn-primary {
    color: #fff;
    background-color: #525596;
    border-color: #525596;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 1px;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img.updated {
    box-shadow: 0px 0px 0px 2px #da3838 inset;
}
.cs-task-card-avatar-boxes .Assigne-card-story-select-img.created {
    box-shadow: 0px 0px 0px 2px #6bb5f0 inset;
}
.Assigne-card-story-select-img{
    width: 26px;
    height: 26px;
    border-radius: 50%;

    padding: 2px;
}
.Assigne-card-story-select-img.created{
    
    box-shadow: 0px 0px 0px 2px #6bb5f0 inset;

}
.Assigne-card-story-select-img.assigne{
    
    box-shadow: 0px 0px 0px 2px #5bc233 inset;

}
.Assigne-card-story-select-img.updated{
    
    box-shadow: 0px 0px 0px 2px #da3838 inset;

}

.stat-table-us{
    width: 100%;
   display: block;

}


.stat-table-us td.asc:after {
  display: inline;
  content: '↓';
}

.stat-table-us td.desc:after {
  display: inline;
  content: '↑';
}
.stat-table-us thead .task-for-backlog-event-prm.active{
    border: 1px solid black;
}
.stat-table-us thead .new-tapsiriq-rew.active{
    border: 1px solid black;
}
.task-column-body .stat-table-us tbody ,#body-large-modal-in-us .stat-table-us tbody {
    max-height: 240px;
    overflow: auto;
     display: block;
}
.stat-table-us thead{
   display: block;
   overflow-y: auto;
   width: 100%;

}
.stat-table-us tbody .task-id-td{
    font-size: 8px;
    font-weight: bold;
}
.stat-table-us tbody .task-time-td{
    font-size: 8px;

}
.stat-table-us tbody .task-story-select-img{
    text-align: center;

}
.stat-table-us tbody td{
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid rgb(219, 219, 219);
    padding: 2px 5px;
}
.stat-table-us td{
    margin: 5px;
}
.stat-table-us td span{
    width: 100% ;
    text-align: center;
}
.stat-div-task-content{
    margin-top: 15px;
    
}

.stat-table-us tr{
  border: 1px solid #eeeff0;
}
.modal-content{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-dialog{
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.left-bar-taspiriq{
    box-sizing: border-box;
    width: 240px;
    height: calc(100vh - 44px);
    padding-top: 30px;
    padding-left: 35px;
    position: fixed;
    left: 0;
    transition: left .25s cubic-bezier(.4,0,.2,1);
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fafafa;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}